.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: dodgerblue;
    padding: 10px;
    gap: 10px;
}

.container div{
    background-color: aliceblue;
    padding: 15px;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
}

.container div:hover{
    background-color: lightblue;
}

.container div:nth-child(2){
    background-color: gold;
}